BACKEND_BASE_URL=https://raceframe.ronanrocking.com
WORKER_API_TOKEN=change-this-to-match-backend

GOOGLE_APPLICATION_CREDENTIALS=/worker/secrets/google-vision.json

WORKER_POLL_SECONDS=3
WORKER_JOB_TYPES=ocr,face_photo_scan
FACE_MODEL_NAME=buffalo_l
FACE_DET_SIZE=640
FACE_MAX_IMAGE_EDGE=1600
